/*File Name: welcomestyle.css

Version 1.0
CSC 478 Group Project
Group: FanSports
Wesley Elliot, Jeremy Jones, Ann Oesterle
Last Updated: 10/25/2016 by Annie Oesterle
*/

/*    Design Notes:
Main Blue: #112B6D
Accent Blue: #3665DB
Dark Grey Accent: #2c313e
Light Grey Accent:#f8f9fa
Orange:#fc850f
Yellow: 
#f0d023*/

html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin:0px;
    font-family: "Arial", Helvetica, sans-serif;

    background-color: black;
    background-image: url("welcomeBackground.jpg");
}
body{
   
   width:80%;
    height:768px;
    padding:0px;
    margin-left:auto;
    margin-right:auto;
    
}
img.logo{
    width:60%;
    margin-top:10%;
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
button{
    margin:30px;
    padding:25px;
    padding-right:90px;
    padding-left:90px;
    background-color:transparent;
    color:white;
    font-size:250%;
    border: 3px solid white;
    text-shadow: .5px .5px 1px #000000;
}
button:hover{
    box-shadow: -2px -2px 4px #ffffff inset,
    1px 1px 4px #ffffff inset;
    text-shadow: 1px 1px 2px #000000;
}
div.buttons{
    text-align:center;
    padding:0px;
    margin-left:auto;
    margin-right:auto;
        
}